<app-navbar #stickyNavBar id="dinamicAppNavbar" [idNavBar]="'#dinamicAppNavbar'"></app-navbar>
<div class="container-fluid pb-5">
    <div class="row">
        <div class="col-md-6 col-lg-4">
            <div class="box-embed-escrito">
                <div class="embed-escrito">
                    <p class="title-escrito">Upsum lorem supmo</p>
                    <p>Pulvinar diam non, accumsan turpis. Maecenas bibendum volutpat nunc vel viverra. Proin tincidunt, massa et varius eleifend, nibh eros dictum felis, sit amet congue dui tellus in elit.</p>
                    <p>Pulvinar diam non, accumsan turpis. Maecenas bibendum volutpat nunc vel viverra. Proin tincidunt, massa et varius eleifend, nibh eros dictum felis, sit amet congue dui tellus in elit.</p>
                    <p>C.C.</p>
                </div>
            </div>  
        </div>
        
        <div class="col-md-6 col-lg-4">
            <div class="box-embed-escrito">
                <div class="embed-escrito">
                    <p class="title-escrito">Upsum lorem supmo</p>
                    <p>Pulvinar diam non, accumsan turpis. Maecenas bibendum volutpat nunc vel viverra. Proin tincidunt, massa et varius eleifend, nibh eros dictum felis, sit amet congue dui tellus in elit.</p>
                    <p>Pulvinar diam non, accumsan turpis. Maecenas bibendum volutpat nunc vel viverra. Proin tincidunt, massa et varius eleifend, nibh eros dictum felis, sit amet congue dui tellus in elit.</p>
                    <p>C.C.</p>
                </div>
            </div>  
        </div>

        <div class="col-md-6 col-lg-4">
            <div class="box-embed-escrito">
                <div class="embed-escrito">
                    <p class="title-escrito">Upsum lorem supmo</p>
                    <p>Pulvinar diam non, accumsan turpis. Maecenas bibendum volutpat nunc vel viverra. Proin tincidunt, massa et varius eleifend, nibh eros dictum felis, sit amet congue dui tellus in elit.</p>
                    <p>Pulvinar diam non, accumsan turpis. Maecenas bibendum volutpat nunc vel viverra. Proin tincidunt, massa et varius eleifend, nibh eros dictum felis, sit amet congue dui tellus in elit.</p>
                    <p>C.C.</p>
                </div>
            </div>  
        </div>

        <div class="col-md-6 col-lg-4">
            <div class="box-embed-escrito">
                <div class="embed-escrito">
                    <p class="title-escrito">Upsum lorem supmo</p>
                    <p>Pulvinar diam non, accumsan turpis. Maecenas bibendum volutpat nunc vel viverra. Proin tincidunt, massa et varius eleifend, nibh eros dictum felis, sit amet congue dui tellus in elit.</p>
                    <p>Pulvinar diam non, accumsan turpis. Maecenas bibendum volutpat nunc vel viverra. Proin tincidunt, massa et varius eleifend, nibh eros dictum felis, sit amet congue dui tellus in elit.</p>
                    <p>C.C.</p>
                </div>
            </div>  
        </div>

        <div class="col-md-6 col-lg-4">
            <div class="box-embed-escrito">
                <div class="embed-escrito">
                    <p class="title-escrito">Upsum lorem supmo</p>
                    <p>Pulvinar diam non, accumsan turpis. Maecenas bibendum volutpat nunc vel viverra. Proin tincidunt, massa et varius eleifend, nibh eros dictum felis, sit amet congue dui tellus in elit.</p>
                    <p>Pulvinar diam non, accumsan turpis. Maecenas bibendum volutpat nunc vel viverra. Proin tincidunt, massa et varius eleifend, nibh eros dictum felis, sit amet congue dui tellus in elit.</p>
                    <p>C.C.</p>
                </div>
            </div>  
        </div>
    </div>   
</div>      
